.core-container {
  position: relative;
  display: grid;
  background-color: #f3f3f3;
  margin: 0 auto;
  height: 100%;

  .block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    user-select: none;
    background: #fff;
    background: rgba(255, 255, 255, 0.4);

    > :first-child {
      border: 1px dashed #979797;
    }

    > .shape {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px;
      overflow: hidden;
    }
    > .shape.brand {
      width: 30px;
      height: 30px;
      right: -29px;
      left: auto;
      cursor: pointer;
    }
    > .shape.brand:before {
      content: "";
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 50%;
      height: 50%;
      background: #4285f4;
      margin-bottom: 10px;
    }
    > .shape.normal {
      border-color: #979797;
    }

    > .title,
    > .delete {
      position: absolute;
      font-size: 12px;
    }

    > .title {
      left: 0;
      bottom: -16px;
      padding: 0 2px;
      width: 100%;
      color: #4285f4;

      span {
        padding: 0 5px;
      }
    }

    > .delete {
      display: none;
      bottom: -16px;
      right: 2px;
    }

    > .morph {
      span {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        text-indent: -999px;
        overflow: hidden;
        cursor: pointer;
      }

      span:before {
        display: block;
        content: "";
        width: 5px;
        height: 5px;
        background-color: #979797;
        margin: 13px auto;
      }

      span.padding {
        display: flex;
        text-indent: 0;
      }

      span.padding:before {
        position: absolute;
        z-index: -1;
        background-color: #4285f4;
        margin: auto;
      }

      span.padding:after {
        display: block;
        content: "";
        width: 100%;
        height: 20px;
        background-color: #fff;
        position: absolute;
        z-index: -1;
      }

      span.up.padding,
      span.down.padding {
        justify-content: center;
        width: 60px;
      }

      span.up.padding:before,
      span.down.padding:before {
        width: 2px;
        height: 100%;
        left: 50%;
        bottom: 0;
        margin-left: -1px;
      }

      span.right.padding,
      span.left.padding {
        align-items: center;
      }

      span.right.padding:before,
      span.left.padding:before {
        width: 100%;
        height: 2px;
      }

      span.up {
        top: -13px;
        left: 50%;
        margin-left: -15px;
      }

      span.up.padding {
        align-items: flex-end;
        padding-bottom: 50px;
        margin-left: -30px;
      }

      span.up.padding:after {
        bottom: 50px;
      }

      span.right {
        top: 50%;
        right: -12px;
        margin-top: -16px;
      }

      span.right.padding {
        left: 0;
        right: auto;
        padding-left: 50px;
      }

      span.right.padding:before {
        left: 0;
      }

      span.right.padding:after {
        width: 60px;
        margin-left: -20px;
      }

      span.down {
        bottom: -12px;
        left: 50%;
        margin-left: -15px;
      }

      span.down.padding {
        bottom: auto;
        align-items: flex-start;
        padding-top: 50px;
        margin-left: -30px;
      }

      span.left {
        top: 50%;
        left: -12px;
        margin-top: -16px;
      }

      span.left.padding {
        justify-content: flex-end;
        padding-right: 50px;
      }

      span.left.padding:before {
        right: 0;
      }

      span.left.padding:after {
        width: 60px;
        margin-right: -20px;
      }
    }
  }

  .block:hover .delete {
    display: block;
  }
  .block.zIndex999 {
    z-index: 999;
  }
}

.core-container.mobile {
  width: 383px;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  /* 网格 */
  background-image: -webkit-linear-gradient(white 8px, transparent 0),
    -webkit-linear-gradient(90deg, white 8px, transparent 0);
  background-image: -moz-linear-gradient(white 8px, transparent 0),
    -moz-linear-gradient(90deg, white 8px, transparent 0);
  background-image: -o-linear-gradient(white 8px, transparent 0),
    -o-linear-gradient(90deg, white 8px, transparent 0);
  background-image: linear-gradient(white 8px, transparent 0),
    linear-gradient(90deg, white 8px, transparent 0);
  background-size: 38.3px 38.3px;
  background-position: -8px -8px;
}

.core-container.pc {
  --grid-gap: 20px;
  grid-row-gap: var(--grid-gap);
  grid-column-gap: var(--grid-gap);
  /* 网格 */
  background-image: -webkit-linear-gradient(
      white var(--grid-gap),
      transparent 0
    ),
    -webkit-linear-gradient(90deg, white var(--grid-gap), transparent 0);
  background-image: -moz-linear-gradient(white var(--grid-gap), transparent 0),
    -moz-linear-gradient(90deg, white var(--grid-gap), transparent 0);
  background-image: -o-linear-gradient(white var(--grid-gap), transparent 0),
    -o-linear-gradient(90deg, white var(--grid-gap), transparent 0);
  background-image: linear-gradient(white var(--grid-gap), transparent 0),
    linear-gradient(90deg, white var(--grid-gap), transparent 0);
  background-position: calc(-1 * var(--grid-gap)) calc(-1 * var(--grid-gap));
}
