.container {
  position: relative;
  display: grid;
  background-color: #f3f3f3;
  /*grid-template-areas: none;*/
  margin: 0 auto;
  overflow: hidden;
}

.container.mobile {
  width: 383px;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  /* 网格 */
  background-image: -webkit-linear-gradient(white 8px, transparent 0),
    -webkit-linear-gradient(90deg, white 8px, transparent 0);
  background-image: -moz-linear-gradient(white 8px, transparent 0),
    -moz-linear-gradient(90deg, white 8px, transparent 0);
  background-image: -o-linear-gradient(white 8px, transparent 0),
    -o-linear-gradient(90deg, white 8px, transparent 0);
  background-image: linear-gradient(white 8px, transparent 0),
    linear-gradient(90deg, white 8px, transparent 0);
  background-size: 38.3px 38.3px;
  background-position: -8px -8px;
}

.container.pc {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  /* 网格 */
  background-image: -webkit-linear-gradient(white 20px, transparent 0),
    -webkit-linear-gradient(90deg, white 20px, transparent 0);
  background-image: -moz-linear-gradient(white 20px, transparent 0),
    -moz-linear-gradient(90deg, white 20px, transparent 0);
  background-image: -o-linear-gradient(white 20px, transparent 0),
    -o-linear-gradient(90deg, white 20px, transparent 0);
  background-image: linear-gradient(white 20px, transparent 0),
    linear-gradient(90deg, white 20px, transparent 0);
  background-size: 50px 50px;
  background-position: -20px -20px;
}

.block {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  user-select: none;
  background: #fff;
  background: rgba(255, 255, 255, 0.4);

  .shape {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px dashed #979797;
    background-color: #fff;
  }
  
  .shape.highlight {
    border-color: red;
  }
  .shapez.normal {
    border-color: #979797;
  }

  .title {
    position: absolute;
    left: 0;
    bottom: -25px;
    padding: 0 5px;
    width: 100%;
    color: #4285f4;
    font-size: 12px;

    .form a {
      padding-right: 5px;
    }
  }

  .delete {
    position: absolute;
    display: none;
    bottom: 10px;
    right: 20px;
  }

  .morph {
    span {
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      text-indent: -999px;
      overflow: hidden;
      cursor: pointer;
    }

    span:before {
      display: block;
      content: "";
      width: 5px;
      height: 5px;
      background-color: #979797;
      margin: 13px auto;
    }

    span.padding {
      display: flex;
      text-indent: 0;
    }

    span.padding:before {
      position: absolute;
      z-index: -1;
      background-color: #4285f4;
      margin: auto;
    }

    span.padding:after {
      display: block;
      content: "";
      width: 100%;
      height: 20px;
      background-color: #fff;
      position: absolute;
      z-index: -1;
    }

    span.up.padding,
    span.down.padding {
      justify-content: center;
      width: 60px;
    }

    span.up.padding:before,
    span.down.padding:before {
      width: 2px;
      height: 100%;
      left: 50%;
      bottom: 0;
      margin-left: -1px;
    }

    span.right.padding,
    span.left.padding {
      align-items: center;
    }

    span.right.padding:before,
    span.left.padding:before {
      width: 100%;
      height: 2px;
    }

    span.up {
      top: -16px;
      left: 50%;
      margin-left: -15px;
    }

    span.up.padding {
      align-items: flex-end;
      padding-bottom: 50px;
      margin-left: -30px;
    }

    span.up.padding:after {
      bottom: 50px;
    }

    span.right {
      top: 50%;
      right: -16px;
      margin-top: -16px;
    }

    span.right.padding {
      left: 0;
      right: auto;
      padding-left: 50px;
    }

    span.right.padding:before {
      left: 0;
    }

    span.right.padding:after {
      width: 60px;
      margin-left: -20px;
    }

    span.down {
      bottom: -16px;
      left: 50%;
      margin-left: -15px;
    }

    span.down.padding {
      bottom: auto;
      align-items: flex-start;
      padding-top: 50px;
      margin-left: -30px;
    }

    span.left {
      top: 50%;
      left: -15px;
      margin-top: -16px;
    }

    span.left.padding {
      justify-content: flex-end;
      padding-right: 50px;
    }

    span.left.padding:before {
      right: 0;
    }

    span.left.padding:after {
      width: 60px;
      margin-right: -20px;
    }
  }
}

.block:hover .delete {
  display: block;
}
.block.zIndex999 {
  z-index: 999;
}
