.mobile-tips {
  display: none;
}


/* 判断是否为移动端 */
@media only screen and (max-width: 768px) {

  /* 移动端样式 */
  body {

    .ant-layout {
      display: none;
    }

    .mobile-tips {
      display: block;
      padding: 1rem;

      .ant-skeleton {
        padding: 1rem 0
      }
    }
  }
}